<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Room_rover</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>registration.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stud_dashboard</display-name>
    <servlet-name>Stud_dashboard</servlet-name>
    <servlet-class>s_dashboard.Stud_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stud_dashboard</servlet-name>
    <url-pattern>/Stud_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>dashboard.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/S1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stud_Dashboard</display-name>
    <servlet-name>Stud_Dashboard</servlet-name>
    <servlet-class>dashboard.Stud_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stud_Dashboard</servlet-name>
    <url-pattern>/Stud_Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Owner_Dashboard</display-name>
    <servlet-name>Owner_Dashboard</servlet-name>
    <servlet-class>dashboard.Owner_Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Owner_Dashboard</servlet-name>
    <url-pattern>/Owner_Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HosteList</display-name>
    <servlet-name>HosteList</servlet-name>
    <servlet-class>dashboard.HosteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HosteList</servlet-name>
    <url-pattern>/HosteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fill</display-name>
    <servlet-name>Fill</servlet-name>
    <servlet-class>dashboard.Fill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fill</servlet-name>
    <url-pattern>/Fill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stud_dash</display-name>
    <servlet-name>Stud_dash</servlet-name>
    <servlet-class>dashboard.Stud_dash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stud_dash</servlet-name>
    <url-pattern>/Stud_dash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocationsServlet</display-name>
    <servlet-name>GetLocationsServlet</servlet-name>
    <servlet-class>stud_dashboard.GetLocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationsServlet</servlet-name>
    <url-pattern>/GetLocationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHostelsServlet</display-name>
    <servlet-name>SearchHostelsServlet</servlet-name>
    <servlet-class>stud_dashboard.SearchHostelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHostelsServlet</servlet-name>
    <url-pattern>/SearchHostelsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchStudentDetails</display-name>
    <servlet-name>fetchStudentDetails</servlet-name>
    <servlet-class>stud_dashboard.fetchStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchStudentDetails</servlet-name>
    <url-pattern>/fetchStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveHostel</display-name>
    <servlet-name>RetriveHostel</servlet-name>
    <servlet-class>stud_dashboard.RetriveHostel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveHostel</servlet-name>
    <url-pattern>/RetriveHostel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtStudServlet</display-name>
    <servlet-name>UpdtStudServlet</servlet-name>
    <servlet-class>stud_dashboard.UpdtStudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtStudServlet</servlet-name>
    <url-pattern>/UpdtStudServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookHostel</display-name>
    <servlet-name>BookHostel</servlet-name>
    <servlet-class>stud_dashboard.BookHostel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookHostel</servlet-name>
    <url-pattern>/BookHostel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingList</display-name>
    <servlet-name>BookingList</servlet-name>
    <servlet-class>stud_dashboard.BookingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingList</servlet-name>
    <url-pattern>/BookingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBooking</display-name>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>stud_dashboard.CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/CancelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchRequestInfoServlet</display-name>
    <servlet-name>FetchRequestInfoServlet</servlet-name>
    <servlet-class>dashboard.FetchRequestInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchRequestInfoServlet</servlet-name>
    <url-pattern>/FetchRequestInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptRejectBookingServlet</display-name>
    <servlet-name>AcceptRejectBookingServlet</servlet-name>
    <servlet-class>dashboard.AcceptRejectBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRejectBookingServlet</servlet-name>
    <url-pattern>/AcceptRejectBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>